<app-filters></app-filters>
  <mat-spinner class="employeesInfo" *ngIf="loading | async; else notLoading"></mat-spinner>
  <ng-template #notLoading>
  <table class="employeesInfo">
    <tr>
      <th *ngFor="let col of columns">{{col}}</th>
    </tr>
    <tr *ngFor="let employee of employees$ | async">
      <td *ngFor="let col of index">
        <div *ngIf="col!='department'; else upperCase">
          <span [class.employeesInfo__hightlight]="shouldHighlight(employee,col)">{{employee[col]}}</span>
        </div>
        <ng-template #upperCase>
          <span  [class.hightlight]="shouldHighlight(employee,col)">{{employee[col]|uppercase}}</span>
        </ng-template>
      </td>
      <td><button class="button" (click)="editEmployee(employee)">edit</button></td>
    </tr>
  </table>
  </ng-template>
  <br>


