<form class="filterForm" [formGroup]="filters">
  <h2>Filters:</h2>
  First Name:
  <input class="filterForm__field" type="text" formControlName="firstName">
  Last Name:
  <input class="filterForm__field" type="text" formControlName="lastName">
  <br>
  Department:
  <select class="filterForm__field"
    name="departmentSelect"
    id="departmentSelect"
    formControlName="department">
    <option value="" selected> All </option>
    <option
      *ngFor="let depar of departmentNames$ | async"
      value="{{depar}}">{{depar}}</option>
  </select>
  <br>
  City:
  <select
    class="filterForm__field"
    name="citySelect"
    id="citySelect"
    formControlName="city">
    <option value="" selected> All </option>
    <option
      *ngFor="let city of citiesNames$ | async"
      value="{{city}}">{{city}}</option>
  </select>
  <br>
  <button class="button" (click)="reset()">Reset</button>



</form>
